/* --- COLOR VARIABLES --- */

/* Chai theme */
:root {
  --soil-x-lt: #5a5958;
  --soil-lt: #464342;
  --soil: #32302f;
  --soil-dk: #282625;
  --soil-x-dk: #1e1d1c;
  --wheat: #ebdbb2;
  --clay: #fd6d5c;
  --honey: #fabd2f;
  --swamp: #b8bb26;
  --sweetgrass: #8ec07c;
  --river: #83a598;
  --lilac: #d3869b;
  --stone: #a79c8f;
}

/* --- GLOBAL --- */
html,
body {
  height: 100%;
  width: 100%;
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
}
@font-face {
  font-family: 'gelica-black';
  src: url('gelica-black-webfont.woff2') format('woff2'), url('gelica-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  cursor: text;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--wheat);
  background-color: var(--soil-x-dk);
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  line-height: 4rem;
  font-family: 'gelica-black';
  font-weight: 400;
}
h4 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 800;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #ebdbb2;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
/* ---- NAVIGATION ---- */
.navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 100%;
  padding: 1rem 0;
  z-index: 1;
}
/* header */
.logo-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 2rem;
}
.logo {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.5rem;
}
.logo-header-text {
  display: inline-block;
  opacity: 0;
  transition: 0.6s;
}
.logo-header:hover > .logo-header-text {
  opacity: 1;
}
/* ---- WORKBOOK ---- */
/* layout */
.workbook {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 88%;
  width: 72%;
  margin: auto;
  background-color: var(--soil-dk);
  border-radius: 16px;
  border: 1px solid var(--soil-lt);
  box-shadow: 0px 8px 24px 0px #141312;
}
/* header at top of workbook, outside of flex flow */
.workbook-header {
  width: 100%;
  height: 2rem;
  background-color: var(--soil-dk);
  border-bottom: 1px solid var(--soil-lt);
  border-radius: 16px 16px 0 0;
}
/* ---- CLI ---- */
/* command line */
.thread {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  padding: 2rem;
  overflow-y: scroll;
  overscroll-behavior: none;
  -ms-overflow-style: none;
}
.thread-text {
  display: block;
}
.thread-cmd {
  display: block;
}
.thread-cmd::before {
  content: '>';
  color: var(--sweetgrass);
  font-weight: 900;
  margin-right: 0.5rem;
}
/* command line content */
.cli-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.25rem 0 1rem 0;
  width: 100%;
}
.cli-input {
  display: flex;
  border-radius: 4px;
  transition: 0.2s;
  width: 100%;
  align-items: center;
}
.cli-input::before {
  content: 'human@zetsu:~$';
  color: var(--sweetgrass);
  font-weight: 900;
  margin-right: 0.5rem;
}
.cli-input-text {
  display: inline-flex;
  margin: auto 0;
  height: 1.75rem;
  min-height: 1.75rem;
  min-width: 0.25rem;
  white-space: pre-wrap;
  caret-color: #8ec07c;
}
.cli-input-text:focus {
  border: none;
  outline: none;
}
.cli-input-text:empty {
  caret-color: transparent;
}
.cursor {
  display: inline-flex;
  width: 0.75rem;
  height: 1.25rem;
  border-bottom: 2px solid var(--sweetgrass);
  animation: blink 1s infinite;
  margin: auto 0;
  z-index: 1;
  position: relative;
  left: -0.25rem;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
