/* --- COLOR VARIABLES --- */
/* Chai theme */
:root {
  --soil-x-lt: #7a7370;
  --soil-lt: #3c3a37;
  --soil: #282625;
  --soil-dk: #1e1d1c;
  --soil-x-dk: #141312;
  --soil-xx-dk: #0a0909;
  --wheat: #ebdbb2;
  --clay: #fd6d5c;
  --honey: #fabd2f;
  --swamp: #b8bb26;
  --sweetgrass: #8ec07c;
  --river: #83a598;
  --lilac: #d3869b;
  --stone: #a79c8f;
  --xSmallSize: 0.813rem;
  --smallSize: 0.875rem;
  --mediumSize: 1rem;
  --bigSize: 1.25em;
  --xBigSize: 1.5rem;
  --xxBigSize: 2rem;
  --megaBigSize: 2.5rem;
}
/* --soil-x-lt: #7a7370;
  --soil-lt: #32302e;
  --soil: #282625;
  --soil-dk: #1e1d1c;
  --soil-x-dk: #141312;
  --soil-xx-dk: #0a0909;
  --wheat: #ebdbb2;
  --clay: #fd6d5c;
  --honey: #fabd2f;
  --swamp: #b8bb26;
  --sweetgrass: #8ec07c;
  --river: #83a598;
  --lilac: #d3869b;
  --stone: #a79c8f; */

/* --- COLOR CLASSES --- */
.soil-x-lt {
  color: var(--soil-x-lt);
}
.soil-lt {
  color: var(--soil-lt);
}
.soil {
  color: var(--soil);
}
.soil-dk {
  color: var(--soil-dk);
}
.soil-x-dk {
  color: var(--soil-x-dk);
}
.wheat {
  color: var(--wheat);
}
.clay {
  color: var(--clay);
}
.honey {
  color: var(--honey);
}
.swamp {
  color: var(--swamp);
}
.sweetgrass {
  color: var(--sweetgrass);
}
.river {
  color: var(--river);
}
.lilac {
  color: var(--lilac);
}
.stone {
  color: var(--stone);
}

/* --- FONT CLASSES --- */
.xSmall {
  font-size: var(--xSmallSize);
}
.small {
  font-size: var(--smallSize);
}
.medium {
  font-size: var(--mediumSize);
}
.big {
  font-size: var(--bigSize);
}
.xBig {
  font-size: var(--xBigSize);
}
.xxBig {
  font-size: var(--xxBigSize);
}
.megaBig {
  font-size: var(--megaBigSize);
}
.regular {
  font-family: 'CamingoCode-Regular';
  font-weight: normal;
}
.thicc {
  font-family: 'CamingoCode-Bold';
  font-weight: bold;
}
@font-face {
  font-family: 'gelica-black';
  src: url('gelica-black-webfont.woff2') format('woff2'), url('gelica-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CamingoCode-Regular';
  src: url('CamingoCode-Regular.woff2') format('woff2'), url('CamingoCode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CamingoCode-Bold';
  src: url('CamingoCode-Bold.woff2') format('woff2'), url('CamingoCode-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* --- GLOBAL --- */
html,
body {
  height: 100%;
  width: 100%;
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: 'CamingoCode-Regular', 'CamingoCode-Bold', monospace;
  font-size: 16px;
  font-weight: normal;
  line-height: var(--xBigSize);
  color: var(--wheat);
  background-color: var(--soil-xx-dk);
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: 'gelica-black';
  font-weight: 400;
}
h4 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 800;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: var(--sweetgrass);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--smallSize);
  height: 100%;
  width: 100%;
}

/* ---- WORKBOOK ---- */
/* layout */
.workbook {
  cursor: text;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 88%;
  width: 60%;
  max-width: 60%;
  margin: auto;
  background-color: var(--soil-dk);
  border-radius: 16px;
  border: 1px solid var(--soil-lt);
  box-shadow: 0px 8px 16px 0px #000000;
  overflow: hidden;
}
/* header at top of workbook, outside of flex flow */
.workbook-header {
  display: block;
  width: 100%;
  height: 1.25rem;
  min-height: 1.25rem;
  background-color: var(--soil-dk);
  margin-bottom: 0.75rem;
}
/* output thread */
.thread-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.thread {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2.5rem;
  width: calc(100% - 5rem);
  margin-top: auto;
  margin-bottom: 0;
  overflow-y: scroll;
  overscroll-behavior: none;
  -ms-overflow-style: none;
}
.thread-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0.5rem 0;
}
.cmd::before {
  content: '>';
  color: var(--wheat);
  font-weight: bold;
  margin-right: 0.75rem;
}
.thread-text {
  display: inline-block;
  max-width: 90%;
  margin: 0.25rem 0 0 0;
}
.thread-text::before {
  margin-right: 0.5rem;
}
.thread-text.running::after {
  content: '...';
  font-weight: 700;
  color: var(--river);
}
.thread-text.done::before {
  content: 'Done';
  color: var(--swamp);
}
.thread-text.error::before {
  content: 'Error';
  color: var(--clay);
}
/* help bar */
.help-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  min-height: 2.25rem;
  font-size: var(--xSmallSize);
  line-height: 1.25rem;
}
.help-bar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 66%;
  height: 100%;
  margin-left: 2.5rem;
}
#help1::before {
  content: '1/2';
  color: var(--soil-x-lt);
  margin-right: 1rem;
}
#help1::after {
  content: '...';
  color: var(--soil-x-lt);
  font-size: 0.75rem;
}
#help2::before {
  content: '2/2';
  color: var(--soil-x-lt);
  margin-right: 1rem;
}
.help-bar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
  height: 100%;
  margin-right: 1.5rem;
}
.help-bar-hint {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 1rem;
}
.help-bar-cmd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.625rem;
  color: var(--stone);
}
.hotkey {
  padding: 0 0.375rem;
  border-radius: 0.25rem;
  border: 1px solid var(--soil-x-lt);
}
.help-bar-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--soil-x-lt);
}

/* ---- LOGO ---- */
/* header at top of workbook, outside of flex flow */
.logo-container {
  cursor: pointer;
  position: absolute;
  top: 6%;
  right: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 1.25rem 2rem;
}
/* change color of logo text when actively clicking */
.logo-container.active-color-1 > .logo-text {
  color: var(--wheat);
}
.logo-container.active-color-2 > .logo-text {
  color: var(--honey);
}
.logo-container.active-color-3 > .logo-text {
  color: var(--sweetgrass);
}
.logo-container.active-color-4 > .logo-text {
  color: var(--clay);
}
.logo-container.active-color-5 > .logo-text {
  color: var(--river);
}
.logo-container.active-color-6 > .logo-text {
  color: var(--swamp);
}
.logo-container.active-color-7 > .logo-text {
  color: var(--lilac);
}
.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.logo-svg {
  display: inline-block;
  width: 2.375rem;
  height: 2.375rem;
  margin: 0;
  background-color: var(--soil-dk);
  border-radius: 0.25rem;
}
.logo-text {
  display: inline-block;
  padding: 0 0.375rem;
  opacity: 0;
  transition: 0.6s;
  background-color: var(--soil-dk);
  border-radius: 0.25rem;
  font-size: 2.75rem;
  line-height: 3.25rem;
  font-family: 'gelica-black';
  font-weight: 400;
}
/* reveal logo text when user hovers over logo-container */
.logo-container:hover > .logo-text {
  opacity: 1;
}
/* ---- HIDING ---- */
.hidden {
  display: none !important;
}

/* ---- SCREEN SIZE HANDLING ---- */
@media (max-width: 960px) {
  .workbook {
    height: 100%;
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 0;
    margin: 0;
  }
  .workbook-header {
    height: 0.75rem;
    min-height: 0.75rem;
  }
  .logo-container {
    top: 0;
    right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .logo-container {
    top: 0;
    right: 0;
    padding: 1rem 1.25rem 0 1.25rem;
    background-color: var(--soil-dk);
  }
  .logo-svg {
    width: var(--xxBigSize);
    height: var(--xxBigSize);
  }
  .logo-text {
    padding: 0 0.25rem;
    font-size: var(--xxBigSize);
    line-height: 2.25rem;
    opacity: 1;
  }
  .workbook-header {
    height: 3rem;
    min-height: 3rem;
    margin-bottom: 0.75rem;
  }
  .thread {
    padding: 0 1.25rem 0.5rem 1.25rem;
    width: calc(100% - 2.5rem);
    font-size: var(--xSmallSize);
    line-height: 1.25rem;
  }
  .help-bar {
    display: none;
  }
}
